streamlit
requests
beautifulsoup4
python-dotenv
plotly
langchain
langchain-core
langchain-community
langchain-mistralai
langchain-chroma
langchain-text-splitters
pypdf
reportlab
chromadb
sentence-transformers
tiktoken